.full-width-table {
  max-width: 100%;
}

.container_button {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none;
}

.paint_icon {
  color: rgb(29, 155, 100);
}

th {
  
}

mat-sidenav {
  background-color: transparent;
}

a {
  padding-right: 5px;
}

mat-sidenav-container {
  display: flex;
}