.container{
    display: flex;
    flex-flow: column;
    margin-left: 10px;
}

h2{
    font-size: 2em;
    margin-top: 5px;
    margin-left: 20px;
}

mat-form-field{
    width: 50%;
}

.button{
    display: flex;
    justify-content: right;
    margin: 0px 10px 10px 0px;
}