.sidenav {
    background-color: #364775;
    width: 200px;
}

:host ::ng-deep .mdc-list-item__content>* {
    color: white !important;
}

:host ::ng-deep .mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.content {
    height: calc(100vh - 128px);
    padding: 10px;
}