<mat-card>
    <mat-card-header>
        <mat-card-title>Adicionar contato</mat-card-title>
    </mat-card-header>
    <mat-form-field>
        <mat-label>Codigo de Contato</mat-label>
        <input matInput readonly>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput mask="(00) 0 0000-0000">
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button>Adicionar</button>
    </mat-card-actions>
        
</mat-card>