.flex-conteiner{
    display: flex;
    justify-content: space-between;
    background-color: #0E8388;
}

.flex__item{
    display: flex;
    align-items: center;
}

a{
    color: white;
    margin-left: 20px;
    font-size: 18px;

}

h2{
    margin: 0;
    margin-left: 5px;
}